# generated JSON of Part 1 Crime Data
Baltimore_Data/*
# Testing/Development Notebook
Baltimore_Crime_Predictor.ipynb
# Generated log from data pull
BmoreCrimeForecast.log
# Generated categorical encoders
categorical_encoder.save
# Generated numerical normalizer
normalizer.save
# generated deployment data
deploy.csv
deploy_metadata.json
.ipynb_checkpoints/*
.DS_Store
